.hide-me, .hide-me2 {
  display: none;
}

#kidMatinee, #kidRegular, #adultMatinee, #adultRegular, #seniorMatinee, #seniorRegular {
  display: none;
}

.jumbotron {
  margin-top: 40px;
}

button {
  margin-top: 20px;
}
